$yellow: rgba(220, 185, 98, 0.7);
$dark-bg: rgba(24, 24, 23, 0.9);
$light-bg: rgba(255, 255, 255, 0.1);
$cream-bg: rgb(224, 208, 169);
$text: rgba(255, 255, 255, 0.9);

$tablet-width: 950px;
$phone-width: 455px;
