@import "../../sass/variables.scss";

.modal {
  height: 110vh;
  width: 100vw;
  top: -10px;
  background-color: $dark-bg;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transform: scale(0);

  &-visible {
    transform: scale(1);
  }

  &__content {
    padding: 30px;
    position: relative;
    background-color: lighten($dark-bg, 20%);
    border-radius: 5px;
    color: $text;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
