@import "../../sass/variables.scss";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $light-bg;
}
.header {
  padding: 10px 0px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  box-sizing: border-box;
  &__wallet {
    @include icon(30px);

    @media only screen and (max-width: $phone-width) {
      padding-right: 10px;
    }
  }

  &__homepage {
    @include icon(30px, pointer, 0, 0);
    @media only screen and (max-width: $tablet-width) {
      padding-left: 10px;
    }
  }
}
.crypto-wallet-list {
  padding: 0;
  &__item {
    padding: 10px;
    min-width: 200px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

    border-left: 3px solid $yellow;
    background-color: $light-bg;
    &:hover {
      background-color: $dark-bg;
    }
    margin-bottom: 5px;
  }
}

.crypto-wallet-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.remove-button {
  @include icon(20px);
}
.wallet-icon {
  @include icon(20px, auto, 10px);
}
