@import "../../sass/variables.scss";

.crypto-table {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  background: $light-bg;
  color: $text;

  &__row {
    padding: 20px 0;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: lighten($dark-bg, 10%);
    }

    &-border {
      border-left: 3px solid darken($yellow, 30%);
    }
  }

  &__header {
    font-weight: bold;
    padding: 25px 0 5px 0;
    background-color: $light-bg;
    border-left: 3px solid lighten($light-bg, 100%);

    &:hover {
      background-color: $light-bg;
      border-left: 3px solid lighten($light-bg, 100%);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    &-item {
      padding: 5px 10px;
      width: 9%;
      font-size: 16px;
      list-style: none;
      @media only screen and (max-width: $tablet-width) {
        font-size: 13px;
        width: 15%;
      }

      &-hide {
        @media only screen and (max-width: $tablet-width) {
          display: none;
        }

        &-phone {
          @media only screen and (max-width: $phone-width) {
            display: none;
          }
        }
      }
    }
  }
}

.crypto__link-explorer {
  color: $yellow;
  display: flex;
  align-items: center;

  &:hover {
    color: darken($yellow, 20%);
  }
}

.crypto__logo {
  width: 30px;
  margin-right: 4px;
  @media only screen and (max-width: $phone-width) {
    display: none;
  }
}

.button-add {
  padding: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: rgba(92, 89, 83, 0.7);
  border-radius: 30%;
}

.modal__input {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  color: $text;
  background-color: $light-bg;
  &:hover {
    background-color: $dark-bg;
  }
}

.modal__button {
  padding: 5px;
  border: 0;
}
