@import "../../sass/variables.scss";

.crypto-table {
  @include wrapper-center();
  background: $light-bg;
  color: $text;

  &__row {
    padding: 20px 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
    &:hover {
      background-color: lighten($dark-bg, 10%);
    }

    &-border {
      @include border-left-colored;
    }
  }

  &__header {
    font-weight: bold;
    background-color: $light-bg;
    border-left: 3px solid lighten($light-bg, 100%);

    &:hover {
      background-color: $light-bg;
      border-left: 3px solid lighten($light-bg, 100%);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;

    &-item {
      padding: 5px 10px;
      width: auto;
      font-size: 16px;
      list-style: none;
      display: flex;
      align-items: center;
      @media only screen and (max-width: $tablet-width) {
        font-size: 13px;
      }

      &-hide {
        @media only screen and (max-width: $tablet-width) {
          display: none;
        }

        &-phone {
          @media only screen and (max-width: $phone-width) {
            display: none;
          }
        }
      }
    }
  }
}

.crypto__link-explorer {
  color: $yellow;
  display: flex;
  align-items: center;

  &:hover {
    color: darken($yellow, 20%);
  }
}

.crypto__logo {
  width: 30px;
  margin-right: 4px;
  @media only screen and (max-width: $phone-width) {
    display: none;
  }
}

.button-add {
  @include button-add();
}

.modal__input {
  @include input();
}

.modal__button {
  padding: 5px;
  border: 0;
}
