@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
$dark-bg: rgba(0, 0, 0, 0.9);

body {
  background: $dark-bg;
  font-family: "Nunito", sans-serif;
}
a {
  text-decoration: none;
  transition: color 0.2s ease-out;
}
